.cabe {
width: 300px;
}


body {
background-color: #16161D;
color: #00ff41;
padding:10px;
}

a {
color: #0DFF00;
}
.book {
width: 150px;
}

label {
display: block;
}

table {
border: 2px solid #0DFF00;
padding: 10px;
}



#divhc {
background-color: black;
padding: 10px;
margin: 2px;
border:solid #00ff41 1px;
border-radius: 10px;
}

#divl {
background-color: black;
padding: 10px;
margin: 2px;
border:solid #00ff41 1px;
border-radius: 10px;
}

#divi {
background-color: black;
padding: 10px;
margin: 2px;
border:solid #00ff41 1px;
border-radius: 10px;
}

#divv {
background-color: black;
padding: 10px;
margin: 2px;
border:solid #00ff41 1px;
border-radius: 10px;
}

a[target="_blank"]:visited {
color: white;

}

ul li::marker {
content: "> ";
}

.imgvinho {
width: 200px;
}


.anual {
width: 150px;
}
